* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-color: #cccccc;
    max-width: 1400px;
}

.azul {
    background-color: blue;
    padding-bottom: 120px;
}

.lg {
    float: left;
    width: 8%;
    height: 8%;
    border-radius: 80px;
}

h1 {
    color: white;
    float: right;
    font-family: sans-serif;
    text-align: end;
    padding-top: 40px;
    padding-right: 100px;
}

.menu {
    border: 1px #54b9ff solid;
    background-color: #54b9ff;
    height: 65px;
}

.menuOpciones {
    padding-top: 12px;
    text-align: center;
    margin-top: 5px;
    padding-left: 40px;
    font-size: x-large;
}

.menuOpciones a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menuOpciones a:hover {
    color: #9c2222;
}

.contenedor_fondo {
    width: 1350px;
    height: 600px;
    margin: auto;
    background-image: url(imagenes/fondoarq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textofoto {
    /* width: 600px; */
    color: rgb(7, 2, 2);
    margin: auto;
    text-align: center;
    line-height: 35px;
    padding-top: 200px;
}

.video {
    text-align: center;
}

.botoncito {
    text-align: center;
}

.boton1 {
    color: #ece80f;
    background-color: #ce1111;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-decoration: none;
}

h3 {
    text-align: center;
}

.serv {
    background-color: #ece80f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.ser {
    padding-left: 450px;
    padding-right: 450px;
}

p {
    font-weight: 400px;
    font-size: xx-large;
}

.text {
    text-align: center;
}

.caja1 {
    float: left;
    padding-left: 150px;
    padding-top: 60px;
}

.caja2 {
    float: right
}

.plan {
    width: 70%;
    height: 70%;
}

.rojo {
    color: rgb(255, 0, 0);
    font-weight: 800;
}

.text {
    color: black;
    font-size: large;
}

.caja3 {
    float: right;
    padding-right: 200px;
    padding-top: 120px;
}

.caja4 {
    float: left;
}

.co {
    padding-left: 100px;
    width: 600px;
    height: 320px;
}

.caja5 {
    float: left;
    padding-left: 150px;
    padding-top: 60px;
}

.caja6 {
    float: right;
    padding-right: 200px;
}

.re {
    width: 450px;
    height: 300px;
}

.mira {
    text-align: center;
}

.boton2 {
    color: #ece80f;
    background-color: #ce1111;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.btn_gris {
    background-color: #796f6f;
    color: white;
    padding: 5px 30px;
    border: 0px;
    border-radius: 5px;
}

.btn_gris:hover {
    background-color: #333;
}

.cuadrado {
    border: 4px #eaeaea solid;
    background-color: #eaeaea;
    padding: 6px 50px;
}

.campos {
    border-radius: 20px;
    border: 1px #999 solid;
    padding: 7px;
    width: 400px;
    /* para que se separen */
    margin-left: 20px;
}

.boton3 {
    padding: 5px 10px;
    margin-left: 35px;
    color: #f0dbdb;
    background-color: #ff5454;
    border-radius: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.boton4 {
    padding: 5px 10px;
    background-color: aqua;
    border-radius: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.boton4:hover {
    background-color: #333;
}

.centro {
    text-align: center;
}