* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-color: #cccccc;
    max-width: 1400px;
}

.azul {
    background-color: blue;
    padding-bottom: 120px;
}

.lg {
    float: left;
    width: 8%;
    height: 8%;
    border-radius: 80px;
}

h1 {
    color: white;
    float: right;
    font-family: sans-serif;
    text-align: end;
    padding-top: 20px;
}