* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    max-width: 1400px;
    background-color: rgb(247, 244, 244);
}

#cabecera {
    color: #333;
    background-color: yellow;
    text-align: center;
    font-size: x-large;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ancho {
    width: 1000px;
    background-color: aqua;
}

#form1 {
    text-align: center;
}

h2 {
    color: black;
    font-family: fantasy;
    text-align: start;
    background-color: brown;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}